.topnav {

    position: fixed; /* Фіксоване позиціонування */
    top: 0; /* Розташування зверху */
    width: 100%; /* Ширина 100% */
    background-color: rgba(0, 0, 0, 0); /* Темний фон */
    overflow: hidden; /* Приховати зайві елементи */
    z-index: 1000; /* Перевага над іншими елементами */
    left: 10px;

}

/* Стилі для посилань всередині topnav */
.topnav a {
    float: right; /* Розташування ліворуч */
    display: block; /* Відображення як блок */
    color: #f2f2f2; /* Колір тексту */
    text-align: center; /* Центрування тексту */
    padding: 14px 20px; /* Відступи */
    text-decoration: none; /* Без підкреслення */
}

/* Стилі для посилань при наведенні */
.topnav a:hover {
    background-color: #ddd; /* Світлий фон */
    color: black; /* Чорний текст */
}