body {
    background-image: url('../images/index_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 200px;
}

p, h2 {
    color: white;
    font-size: 20px;

}

button {
    background-color: #4CAF50; /* Зелений фон */
    border: none; /* Без рамки */
    color: white;
    padding: 15px 32px; /* Відступи всередині кнопки */
    text-align: center; /* Центрування тексту */
    text-decoration: none; /* Відсутність підкреслення */
    display: inline-block; /* Відображення кнопки як блоку */
    font-size: 16px;
    margin: 4px 2px; /* Відступи між кнопками */
    cursor: pointer; /* Вказівник у вигляді руки */
    border-radius: 12px; /* Закруглені кути */
    transition: background-color 0.3s ease, transform 0.1s ease; /* Плавний перехід кольору фону та ефект натискання */
}

button:hover {
    background-color: #45a049; /* Темніший зелений при наведенні курсору */
}

button:active {
    background-color: #3e8e41; /* Темний зелений при натисканні */
    transform: scale(0.95); /* Зменшення кнопки на 5% для імітації натискання */
}

/* Основні стилі для зображення */

img.clickable {
    cursor: pointer; /* Вказівник у вигляді руки */
    transition: transform 0.1s ease; /* Плавний перехід для трансформації */
}

/* Стилі для ефекту натискання */

img.clickable:active {
    transform: scale(0.90); /* Зменшення зображення на 5% для імітації натискання */
    opacity: 0.8; /* Додавання ефекту прозорості при натисканні */
}

/* Стилі для контейнера зображень */
.image-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Для адаптивного макета */
}

/* Стилі для посилань всередині контейнера */
.image-row a {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Розташування дітей елементів по вертикалі */
    align-items: center; /* Центрування дітей елементів */
}

/* Стиль для центрування заголовка і абзацу */
.center-text {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-top: 20px; /* Додаємо відступ зверху для краси */
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон для контрасту */
}
.adventure-link h2 {
    text-align: center;

}



/* Стилі для контейнера topnav */
.topnav {

    position: fixed; /* Фіксоване позиціонування */
    top: 0; /* Розташування зверху */
    width: 100%; /* Ширина 100% */
    background-color: rgba(0, 0, 0, 0); /* Темний фон */
    overflow: hidden; /* Приховати зайві елементи */
    z-index: 1000; /* Перевага над іншими елементами */
}

/* Стилі для посилань всередині topnav */
.topnav a {
    float: right; /* Розташування ліворуч */
    display: block; /* Відображення як блок */
    color: #f2f2f2; /* Колір тексту */
    text-align: center; /* Центрування тексту */
    padding: 14px 20px; /* Відступи */
    text-decoration: none; /* Без підкреслення */
}

/* Стилі для посилань при наведенні */
.topnav a:hover {
    background-color: #ddd; /* Світлий фон */
    color: black; /* Чорний текст */
}


